node_modules
dist
.output
.tanstack
.content-collections
src/routeTree.gen.ts
pnpm-lock.yaml
content
assets
static
layouts
themes
public
private
output
.playwright-cli
.claude

data
archetypes
README.md
.github/workflows/deploy.yml
