{{ $extendedCSS := resources.Get "css/extended/extended.css" }}
<link rel="preload" href="{{ $extendedCSS.RelPermalink }}" as="style">
<link rel="stylesheet" href="{{ $extendedCSS.RelPermalink }}">


<link rel="preload" href="/fonts/font-family.css" as="style">
<link rel="stylesheet" href="/fonts/font-family.css">

<!-- Preload critical fonts -->
<link rel="preload" href="/fonts/Manrope-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/Manrope-Medium.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/Manrope-Bold.woff2" as="font" type="font/woff2" crossorigin>

<script async src="https://cloud.umami.is/script.js" data-website-id="30c7d9d6-abac-4c52-b85a-c0234f863d22"></script>
