<!-- {{- /* Footer custom content area start */ -}}
<div class="footer-links">
  <nav>
    <ul>
      <li>
        <a href="/archives/">
          <span class="icon">
            <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <rect x="2" y="4" width="20" height="5" rx="2"/>
              <path d="M4 9v9.5c0 .3.2.6.5.6h15c.3 0 .5-.3.5-.6V9"/>
              <path d="M10 13h4"/>
            </svg>
          </span>
          Archive
        </a>
      </li>
      <li>
        <a href="/privacy-policy/">
          <span class="icon">
            <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M12 2l8 4v6c0 5.25-3.5 9.54-8 11-4.5-1.46-8-5.75-8-11V6l8-4z"></path>
              <path d="M12 12v4"></path>
              <path d="M10 14h4"></path>
            </svg>
          </span>
          Privacy Policy
        </a>
      </li>
      <li>
        <a href="/dmca/">
          <span class="icon">
            <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M12 3v18"></path>
              <path d="M7 12h10"></path>
              <path d="M9 5l-2 7"></path>
              <path d="M15 5l2 7"></path>
            </svg>
          </span>
          DMCA
        </a>
      </li>
    </ul>
  </nav>
</div>
{{- /* Footer custom content area end */ -}} -->
