<div class="profile">
    {{- with site.Params.profileMode }}
    <div class="profile_inner">
        {{- with resources.Get "ascii-covers/profile.txt" }}
        <div class="profile-ascii">
            <pre class="ascii-cover-art" aria-hidden="true">{{ .Content }}</pre>
            <span class="sr-only">{{ $.Site.Params.profileMode.imageTitle | default "profile image" }}</span>
        </div>
        {{- end }}
        <h1>{{ .title | default site.Title | markdownify }}</h1>
        <span>{{ .subtitle | markdownify }}</span>
        {{- partial "social_icons.html" -}}

        {{- with .buttons }}
        <div class="buttons">
            {{- range . }}
            <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name }}">
                <span class="button-inner">
                    {{- if .pre }}
                    {{ .pre | safeHTML }}
                    {{- end }}
                    {{ .name }}
                    {{- if (findRE "://" .url) }}
                    &nbsp;
                    <!-- Optional external link icon -->
                    <svg fill="none" ...>...</svg>
                    {{- end }}
                </span>
            </a>
            {{- end }}
        </div>
        {{- end }}

    </div>
    {{- end}}
</div>