{{- $image := partial "seo/image.html" . -}}
{{- with $image -}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ . }}">
{{- else }}
<meta name="twitter:card" content="summary">
{{- end }}

{{- with or .Title site.Title site.Params.title | plainify }}
  <meta name="twitter:title" content="{{ . }}">
{{- end }}

<meta name="twitter:description" content="{{ partial "seo/description.html" . }}">

{{- $twitterSite := "" }}
{{- with site.Params.social }}
  {{- if reflect.IsMap . }}
    {{- with .twitter }}
      {{- $content := . }}
      {{- if not (strings.HasPrefix . "@") }}
        {{- $content = printf "@%v" . }}
      {{- end }}
      <meta name="twitter:site" content="{{ $content }}">
    {{- end }}
  {{- end }}
{{- end }}
