{{- define "main" }}

{{- if .Site.Params.profileMode.enabled }}
<div class="profile">
    {{- partial "index_profile.html" . }}
</div>
{{- end }}

<article class="post-single">
    <header class="post-header">
        {{ partial "breadcrumbs.html" . }}
    </header>

    {{- if .Content }}
    <div class="post-content">
        {{- if not (.Param "disableAnchoredHeadings") }}
        {{- partial "anchored_headings.html" .Content -}}
        {{- else }}{{ .Content }}{{ end }}
    </div>
    {{- end }}

    {{- if .Site.Params.ShowPostNavLinks }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
</article>

{{- end }}